<?xml version="1.0"?>
<config>
    <modules>
        <Wli_Orderconditions>
            <version>0.1.0</version>
        </Wli_Orderconditions>
    </modules>
    <frontend>
        <routers>
            <orderconditions>
                <use>standard</use>
                <args>
                    <module>Wli_Orderconditions</module>
                    <frontName>orderconditions</frontName>
                </args>
            </orderconditions>
        </routers>
        <layout>
            <updates>
                <orderconditions>
                    <file>orderconditions.xml</file>
                </orderconditions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <orderconditions>
                <use>admin</use>
                <args>
                    <module>Wli_Orderconditions</module>
                    <frontName>orderconditions</frontName>
                </args>
            </orderconditions>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <orderconditions module="orderconditions">
                <title>Ordertags</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="orderconditions">
                        <title>Manage Order Tags</title>
                        <sort_order>10</sort_order>
                        <action>orderconditions/adminhtml_orderconditions</action>
                    </items>
                </children>
                 <children>
                    <wli_orderconditions module="orderconditions">
                        <title>Manage Orderconditions</title>
                        <sort_order>11</sort_order>
                        <action>orderconditions/adminhtml_orderconditions</action>
                    </wli_orderconditions>
                </children>
            </orderconditions>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <orderconditions>
                            <title>Ordertags Module</title>
                            <sort_order>200</sort_order>
                        </orderconditions>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <orderconditions>
                    <file>orderconditions.xml</file>
                </orderconditions>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <orderconditions>
                <class>Wli_Orderconditions_Model</class>
                <resourceModel>orderconditions_mysql4</resourceModel>
            </orderconditions>
            <orderconditions_mysql4>
                <class>Wli_Orderconditions_Model_Mysql4</class>
                <entities>
                    <orderconditions>
                        <table>orderconditions</table>
                    </orderconditions>
                </entities>
            </orderconditions_mysql4>
        </models>
        <resources>
            <orderconditions_setup>
                <setup>
                    <module>Wli_Orderconditions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderconditions_setup>
            <orderconditions_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </orderconditions_write>
            <orderconditions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderconditions_read>
        </resources>
        <blocks>
            <orderconditions>
                <class>Wli_Orderconditions_Block</class>
            </orderconditions>
        </blocks>
        <helpers>
            <orderconditions>
                <class>Wli_Orderconditions_Helper</class>
            </orderconditions>
        </helpers>
    </global>
</config>